{
 "UPLOAD_PATH": "/data/uploadfiles/files/",
 "UPLOAD_URL": "http://fileupload.demo.com/files/",
 "QRCODE_PATH": "/data/uploadfiles/files/qrcode/",
 "QRCODE_URL": "http://localhost/files/qrcode/"
 "QR_KEY": {
   "fiRE0L3294l9DBREQveNBIc": "1",
   "j62h69HrFi1ar6iEc3QI3aM": "1"
 }
}
